body {
    background-color: #0f172a;
    color: #e5e7eb;
}

.panel {
    background: #020617;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
}

.client {
    font-size: 1.8rem;
    margin-right: 6px;
}

.server {
    font-size: 2rem;
    margin-right: 10px;
}

.free {
    opacity: 0.3;
}

.busy {
    opacity: 1;
}
